<?xml version="1.0" encoding="UTF-8" ?>

<!-- Etl与资源对应关系 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_CPERSON">
  <!-- 对应关系 -->
  <resultMap id="BaseResultMap" type="cperson">
    <id      column="id"             property="id"             jdbcType="VARCHAR"/>
    <result  column="pName"          property="pName"          jdbcType="VARCHAR"/>
    <result  column="pSource"        property="pSource"        jdbcType="VARCHAR"/>
    <result  column="pSrcId"         property="pSrcId"         jdbcType="VARCHAR"/>
    <result  column="resTableName"   property="resTableName"   jdbcType="VARCHAR"/>
    <result  column="resId"          property="resId"          jdbcType="VARCHAR"/>
    <result  column="age"            property="age"            jdbcType="VARCHAR"/>
    <result  column="birthday"       property="birthday"       jdbcType="VARCHAR"/>
    <result  column="sex"            property="sex"            jdbcType="INTEGER"/>
    <result  column="constellation"  property="constellation"  jdbcType="VARCHAR"/>
    <result  column="location"       property="location"       jdbcType="VARCHAR"/>
    <result  column="phoneNum"       property="phoneNum"       jdbcType="VARCHAR"/>
    <result  column="email"          property="email"          jdbcType="VARCHAR"/>
    <result  column="pSrcHomePage"   property="pSrcHomePage"   jdbcType="VARCHAR"/>
    <result  column="portrait"       property="portrait"       jdbcType="VARCHAR"/>
    <result  column="isVerified"     property="isVerified"     jdbcType="INTEGER"/>
    <result  column="descn"          property="descn"          jdbcType="VARCHAR"/>
    <result  column="cTime"          property="cTime"          jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, pName, pSource, pSrcId, resTableName, resId, age, birthday, sex, constellation, location, phoneNum, email, pSrcHomePage, portrait, isVerified, descn, cTime
  </sql>
  
  <!-- 条件子句 -->
  <sql id="WhereClauseByEntiey">
    <where>
      <trim prefix="(" suffix=")" prefixOverrides="and">
        <if test="id!=null">and id=#{id,jdbcType=VARCHAR}</if>
        <if test="pName!=null">and pName=#{pName,jdbcType=VARCHAR}</if>
        <if test="pSource!=null">and pSource=#{pSource,jdbcType=VARCHAR}</if>
        <if test="pSrcId!=null">and pSrcId=#{pSrcId,jdbcType=VARCHAR}</if>
        <if test="resTableName!=null">and resTableName=#{resTableName,jdbcType=VARCHAR}</if>
        <if test="resId!=null">and resId=#{resId,jdbcType=VARCHAR}</if>
        <if test="age!=null">and age=#{age,jdbcType=VARCHAR}</if>
        <if test="birthday!=null">and birthday=#{birthday,jdbcType=VARCHAR}</if>
        <if test="sex!=null">and sex=#{sex,jdbcType=INTEGER}</if>
        <if test="constellation!=null">and constellation=#{constellation,jdbcType=VARCHAR}</if>
        <if test="location!=null">and location=#{location,jdbcType=VARCHAR}</if>
        <if test="phoneNum!=null">and phoneNum=#{phoneNum,jdbcType=VARCHAR}</if>
        <if test="email!=null">and email=#{email,jdbcType=VARCHAR}</if>
        <if test="pSrcHomePage!=null">and pSrcHomePage=#{pSrcHomePage,jdbcType=VARCHAR}</if>
        <if test="portrait!=null">and portrait=#{portrait,jdbcType=VARCHAR}</if>
        <if test="isVerified!=null and isVerified!=0">and isVerified=#{isVerified,jdbcType=INTEGER}</if>
        <if test="descn!=null">and descn=#{descn,jdbcType=VARCHAR}</if>
      </trim>
    </where>
  </sql>

  <insert id="insertList" parameterType="java.util.Map">
    insert into c_Person(id, pName, pSource, pSrcId, resTableName, resId, age, birthday, sex, constellation, location, phoneNum, email, pSrcHomePage, portrait, isVerified, descn, cTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.pName},#{list.pSource},#{list.pSrcId},#{list.resTableName},#{list.resId},#{list.age},#{list.birthday},#{list.sex},#{list.constellation},#{list.location},#{list.phoneNum},#{list.email},#{list.pSrcHomePage},#{list.portrait},#{list.isVerified},#{list.descn},#{list.cTime})
    </foreach>
  </insert>
  
  <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/>  from c_Person
    <if test="_parameter!=null"><include refid="WhereClauseByEntiey"/></if> 
    <if test="orderSql!=null"> order by ${orderSql}</if>
  </select>
  
  <delete id="delete">
      DELETE FROM c_Person
      where id NOT IN (SELECT * from (SELECT id from c_Person GROUP BY pSrcId ORDER BY cTime DESC) b)
  </delete>
  
</mapper>