<?xml version="1.0" encoding="UTF-8" ?>

<!-- Etl与资源对应关系 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="A_DICTM">
  <!-- 对应关系 -->
  <resultMap id="BaseResultMap" type="dictm">
    <id      column="id"             property="id"             jdbcType="VARCHAR"/>
    <result  column="dmName"         property="dmName"         jdbcType="VARCHAR"/>
    <result  column="nPy"            property="nPy"            jdbcType="VARCHAR"/>
    <result  column="descn"          property="descn"          jdbcType="VARCHAR"/>
    <result  column="cTime"          property="cTime"          jdbcType="TIMESTAMP"/>
  </resultMap>

  <!-- 所有列 -->
  <sql id="Base_Column_List">
    id, dmName, nPy, descn, cTime
  </sql>

  <insert id="insertList" parameterType="java.util.List">
    insert into hotspot_DictM(id, dmName, nPy, descn, cTime) values
    <foreach collection="list" item="list" index="index" separator=",">
     (#{list.id},#{list.dmName},#{list.nPy},#{list.descn},#{list.cTime})
    </foreach>
  </insert>
  
  <select id="getListById" resultMap="BaseResultMap" parameterType="java.lang.String">
    select <include refid="Base_Column_List"/> from hotspot_DictM where id=#{id,jdbcType=VARCHAR}
  </select>
  
</mapper>